html, body {margin:0;padding:0;height:100%;}

.header-style {
	border-bottom: 3px solid #d7d9d9; 
	background-color: white;  
	margin-top: 0px; 
	padding-top: 5px;
}

.form-inline > div > label {
	margin-right:10px;
}

.menu-title {
	maring-left:10px;
}

.menu-container {
	margin:0px;
	padding:0px;
}

.menu-container > ul > li,
.menu-container > ul > ul > li {
	width: 100%;
}

.submenu-title {
	font-size: 14px;
	margin-left: 80px;
    padding: 5px 0px;
    color: #9677dd;
    border-bottom: 2px solid #9677dd;
}


.menu-container > ul > li > a {
	color: black;
	padding-left: 40px;
	font-size: 16px;
}

.menu-container > ul > li > a > i {
	margin-right: 30px;
}

.menu-container > ul > ul > li > a {
	color: black;
	padding-left: 80px;
	font-size: 16px;
}

.menu-container > ul > ul > li > a > i {
	margin-right: 10px;
}

.nav > li > a:focus, 
.nav > li > a:hover,
.nav > li > a.active {
    text-decoration: none;
    background-color: #7b4ff9;
    color: white;
    
}

.nav > li > a > i:focus, 
.nav > li > a > i:hover {
    color: white;
}

.fixed-button {
	width: 100px;
	border: 2px solid #7b4ff9;
	color: #7b4ff9;
}

.fixed-button:hover, 
.fixed-button:focus {
	color: white;
	background-color: #7b4ff9;
	border-color: #7b4ff9;
}

.col-md-10 {
	background-color: #f7f9fa;
	height: 100%;
	padding: 30px;
}

.content-container {
	padding: 30px;
	background-color: #f7f9fa;
	height: 100%;
}

.form-container {
	padding: 20px;
}

.row-fluid {
	margin-top:65px;
}

.footer {
	padding: 10px 0px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: darkslategrey;
	color: white;
	text-align: center;
 }
 
.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin-top:95px;
    width: auto;
    height: 90%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 90%;
    overflow-y: auto;
    border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
}
.come-from-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.margin-10 {
	margin-top: 10px;
}
.margin-20 {
	margin-top: 20px;
}
.margin-30 {
	margin-top: 30px;
}